---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/Menu';
import LayoutStyles from '@design-system/modules/community-section/Layout.module.scss';
import EventsNew from '@components/community-section/EventsNew';
---

<Layout title="AG Grid">
    <div class="layout-max-width-large">
       
        <div class="layout-max-width-small">
            <div class={LayoutStyles.container}>
                <header class={LayoutStyles.header}>
                    <h1>Events</h1>
                    <p class={LayoutStyles.description}>AG Grid is a regular sponsor of some of the biggest JavaScript, React & Angular conferences in the world.</p>
                    <CommunityMenu path={Astro.url.pathname} client:only/>
                    <div class={LayoutStyles.gradient}></div>
                </header>
                <div class={LayoutStyles.content}>
                    <section>
                        <EventsNew client:only/>
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>