---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/CommunityMenu';
import LayoutStyles from '@design-system/modules/CommunityLayout.module.scss';
import Blogs from '@components/community-section/news-updates/Blogs';
import Podcasts from '@components/community-section/news-updates/Podcasts';
import Videos from '@components/community-section/news-updates/Videos';
---

<Layout
    showSearchBar={true}
    showDocsNav={false}
    title="AG Grid: Media"
    description="AG Grid has an entire ecosystem of community-built tools, extensions and utilities to help you create your next project, no matter which language or framework you're using."
>
    <div class="layout-max-width-large">
        <div class={LayoutStyles.header}>
            <CommunityMenu path={Astro.url.pathname} client:load />
        </div>
        <div class="layout-max-width-small">
            <div class={LayoutStyles.container}>
                <div class={LayoutStyles.content}>
                    <!-- Title & Description -->
                    <h1>Media</h1>
                    <p class={LayoutStyles.description}>
                        The AG Grid team regularly appear in community podcasts, publications, conferences, and more.
                        Read our blogs, watch our videos, or listen to our podcasts to hear the latest news & updates
                        directly from our team.
                    </p>
                    <section>
                        <h2>Videos</h2>
                        <Videos client:load />
                    </section>
                    <section>
                        <h2>Podcasts</h2>
                        <Podcasts client:load />
                    </section>
                    <section>
                        <h2>Blogs</h2>
                        <Blogs client:visible />
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>
