---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/CommunityMenu';
import LayoutStyles from '@design-system/modules/CommunityLayout.module.scss';
import FeaturedNews from '@components/community-section/news-updates/FeaturedNews';
import Podcasts from '@components/community-section/news-updates/Podcasts';
import Videos from '@components/community-section/news-updates/Videos';
---

<Layout title="AG Grid">
    <div class="layout-max-width-large">
        <header class={LayoutStyles.header}>
            <h1>News & Updates</h1>
            <p class={LayoutStyles.description}>The AG Grid team regularly appear in community podcasts, publications, conferences, and more. Read our blogs, watch our videos, or listen to our podcasts to hear the latest news & updates directly from our team.</p>
            <CommunityMenu path={Astro.url.pathname} client:only />
        </header>
        <div class="layout-max-width-small">
            <div class={LayoutStyles.container}>
                <div class={LayoutStyles.content}>
                    <section>
                        <h2>Featured News</h2>
                        <FeaturedNews client:only />
                    </section>
                    <section>
                        <h2>Videos</h2>
                        <Videos client:only />
                        <!-- TODO: Videos Component -->
                    </section>
                    <section>
                        <h2>Podcasts</h2>
                        <Podcasts client:only />
                        <!-- TODO: Podcasts Component -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>
