---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/CommunityMenu';
import LayoutStyles from '@design-system/modules/CommunityLayout.module.scss';
import Showcase from '@components/community-section/Showcase';
---

<Layout title="AG Grid" showSearchBar={true} showDocsNav={false}>
    <div class="layout-max-width-large">
        <div class={LayoutStyles.header}>
            <CommunityMenu path={Astro.url.pathname} client:load />
        </div>
        <div class="layout-max-width-small">
            <div class={LayoutStyles.container}>
                <div class={LayoutStyles.content}>
                    <!-- Title & Description -->
                    <h1>Showcase</h1>
                    <p class={LayoutStyles.description}>
                        AG Grid's products are downloaded millions of times per week. Most projects are internal and closed source, but we've hand-picked 200+ open-source examples to help inspire your next project.
                    </p>
                    <section>
                        <h2>Our Favourites</h2>
                        <Showcase favouritesOnly={true} client:load />
                    </section>
                    <section>
                        <h2>Full Showcase</h2>
                        <Showcase client:visible />
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>
