---
import Layout from '../../layouts/Layout.astro';
import CommunityMenu from '@components/community-section/CommunityMenu';
import LayoutStyles from '@design-system/modules/CommunityLayout.module.scss';
import ToolsExtensions from '@components/community-section/ToolsExtensions';

---

<Layout title="AG Grid">
    <div class="layout-max-width-large">
        <header class={LayoutStyles.header}>
            <h1>Tools & Extensions</h1>
            <p class={LayoutStyles.description}>AG Grid has an entire ecosystem of community-built tools, extensions and utilities to help you create your next project, no matter which language or framework you're using.</p>
            <CommunityMenu path={Astro.url.pathname} client:only/>
        </header>
        <div class="layout-max-width-small">
            <div class={LayoutStyles.container}>
                <div class={LayoutStyles.content}>
                    <section>
                        <ToolsExtensions client:only/>
                    </section>
                </div>
            </div>
        </div>
    </div>
</Layout>