---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { PagesNavigationFromLocalStorage } from '@features/pages-navigation/components/PagesNavigationFromLocalStorage';
import { getDocsPages } from '../features/docs/utils/pageData';
import type { Framework, MenuSection } from '@ag-grid-types';
import { getFilteredMenuSections } from '@features/pages-navigation/utils/getFilteredMenuSections';
import { Changelog } from '@components/changelog/Changelog';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const currentFramework = Astro.params.framework as Framework;
const pageName = Astro.params.pageName as Framework;

const { data: menu } = await getEntry('menu', 'data');

const frameworkMenuSections: MenuSection[] = getFilteredMenuSections({
    menuSections: menu.main.sections,
    framework: currentFramework,
});
---

<Layout title={'AG Grid Changelog'} showDocsNav={true} showSearchBar={true}>
    <div class:list={['contentViewport layout-grid']}>
        <PagesNavigationFromLocalStorage
            client:load
            menuSections={frameworkMenuSections}
            framework={currentFramework}
            pageName={pageName}
        />

        <main is="div">
            <Changelog client:only />
        </main>
    </div>
</Layout>
