---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { DocsNavFromLocalStorage } from '@ag-website-shared/components/docs-navigation/DocsNavFromLocalStorage';
import { getDocsPages } from '../features/docs/utils/pageData';
import type { Framework, MenuSection } from '@ag-grid-types';
import DocumentationArchive from '@ag-website-shared/components/documentation-archive/DocumentationArchive.astro';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const pageName = Astro.params.pageName as Framework;

const { data: docsNavData } = await getEntry('docs-nav', 'docsNav');

const versionsContent = await getEntry('versions', 'ag-grid-versions');
const versionsData: any[] = versionsContent ? versionsContent.data : [];
---

<Layout
    title={'AG Grid Documentation Archive'}
    description={'Browse archived documentation for previous AG Grid versions, from version 14 and onwards. View changelogs for every minor and major release.'}
    showDocsNav={true}
    showSearchBar={true}
>
    <div class:list={['contentViewport layout-grid']}>
        <DocsNavFromLocalStorage client:load menuData={docsNavData} pageName={pageName} />

        <DocumentationArchive site="grid" versionsData={versionsData} />
    </div>
</Layout>
