---
import Layout from '@layouts/Layout.astro';
import Example from '@components/example-grid/Example';
import styles from "./example.module.scss"
import { Icon } from '@ag-website-shared/components/icon/Icon';
---

<Layout title="Ecommerce Inventory Management">
    <div className={styles.topHeader}>
        <div>
            <h1 className={styles.headerHeading}>Complete</h1>
            <p className={styles.headerDescription}>See all of the AG Grid features combined into one fully-functional datagrid solution</p>
            <button
            className="button-primary"
        >   <Icon
        alt={`GitHub logo`}
        name="github"
        svgClasses={styles.githubIcon}
    />
            <span>See on Github</span>
    
        </button>
        </div>
    
        <div className={styles.tabs}>
            <a href="/example">
                <img
                className={styles.showcaseItemTab}
                    src="/example/grid-illustration.png"
                    alt="Grid illustration"
                />
            </a>
            <a href="/example-finance">
                <img
                    className={styles.showcaseItemTab}
                    src="/example/grid-illustration.png"
                    alt="Grid illustration"
                />
            </a>
            <a href="/example-crm">
                <img
                    className={styles.showcaseItemTab}
                    src="/example/grid-illustration.png"
                    alt="Grid illustration"
                />
            </a>
            <a href="/example-complete">
                <img
                className={`${styles.showcaseItemTab} ${styles.tabActive}`}
                    src="/example/grid-illustration.png"
                    alt="Grid illustration"
                />
            </a>
    
        </div>
    </div>
    <div className={styles.layout}>
        <div className={styles.layoutWrapper}>
    <Example client:only="react" />
        </div></div>
</Layout>
