---
import Layout from '@layouts/Layout.astro';
import Example from '@components/example-grid/Example';
import styles from '@pages-styles/example.module.scss';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import DemoTabs from '@components/demos/DemosTabs.astro';
import LogoMark from '@components/logo/LogoMark';
---

<Layout title="Demo - Performance Grid" showSearchBar={true} hideFooter={true}>
    <div class={styles.topHeader}>
        <div>
            <h1 class={styles.headerHeading}>Performance</h1>
            <p class={styles.headerDescription}>
                Example showcasing grid reporting features, with options to view performance by adjusting rows and
                columns.
            </p>
            <a className={styles.videoTour} href="https://youtu.be/bcMvTUVbMvI" target="_blank" rel="noreferrer">
                <button class="button-secondary">
                    <Icon alt={`Youtube logo`} name="youtube" svgClasses={styles.youtubeIcon} />
                    <span>Take the video tour</span>
                </button>
            </a>
        </div>

        <DemoTabs activeTab="complete" />
    </div>
    <div class={styles.layout}>
        <div class={styles.layoutWrapper}>
            <div class={styles.loadingLogoContainer}>
                <LogoMark isSpinning />
            </div>
            <Example client:only="react" />
        </div>
    </div>
</Layout>
