---
import Layout from '@layouts/Layout.astro';
import Example from '@components/example-grid/Example';
import styles from '@pages-styles/example.module.scss';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import ShowcaseTabs from '@components/showcase/ShowcaseTabs.astro';
import LogoMark from '@components/logo/LogoMark';
---

<Layout title="Demo - Complete Grid" hideFooter={true}>
    <div class={styles.topHeader}>
        <div>
            <h1 class={styles.headerHeading}>Complete</h1>
            <p class={styles.headerDescription}>
                See all of the AG Grid features combined into one fully-functional datagrid solution
            </p>
            <button class="button-secondary">
                <Icon alt={`GitHub logo`} name="github" svgClasses={styles.githubIcon} />
                <span>See on Github</span>
            </button>
        </div>

        <ShowcaseTabs activeTab="complete" />
    </div>
    <div class={styles.layout}>
        <div class={styles.layoutWrapper}>
            <div class={styles.loadingLogoContainer}>
                <LogoMark isSpinning />
            </div>
            <Example client:only="react" />
        </div>
    </div>
</Layout>
