---
import styles from '@pages-styles/example.module.scss';
import DemosLayout from '@components/demos/DemosLayout.astro';
import DemoTabs from '@components/demos/DemosTabs.astro';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import { EcommerceInventoryExample } from '@components/demos/examples/ecommerce-inventory';
import LogoMark from '@components/logo/LogoMark';
---

<DemosLayout title="Demo - Inventory Management">
    <div class={styles.topHeader}>
        <div>
            <h1 class={styles.headerHeading}>Inventory</h1>
            <p class={styles.headerDescription}>
                An example inventory dashboard that let’s you manage product inventory
            </p>
            <button class="button-secondary">
                <Icon alt={`GitHub logo`} name="github" svgClasses={styles.githubIcon} />
                <span>See on Github</span>
            </button>
        </div>

        <DemoTabs activeTab="inventory" />
    </div>
    <div class={styles.layout}>
        <div class={styles.layoutWrapper}>
            <div class={styles.loadingLogoContainer}>
                <LogoMark isSpinning />
            </div>
            <EcommerceInventoryExample client:only="react" />
        </div>
    </div>
</DemosLayout>
