---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import styles from '../pages-styles/react-table.module.scss';
import Customers from '../components/framework-landing-pages/react/sections/customers/Customers';
import Examples from '../components/framework-landing-pages/react/sections/examples/Examples';
import Faqs from '../components/framework-landing-pages/react/sections/faqs/Faqs';
import FeaturesSection from '../components/framework-landing-pages/react/sections/features/FeaturesSection';
import HeroSection from '../components/framework-landing-pages/react/sections/hero/HeroSection';
import Showcase from '../components/framework-landing-pages/react/sections/showcase/Showcase';
import Divider from '../components/framework-landing-pages/react/utils/Divider';
const { data: versionsData } = await getEntry('versions', 'ag-grid-versions');

let isOdd = false;
const getIsOdd = () => {
    isOdd = !isOdd;
    return !isOdd;
};
---

<Layout title={'AG Grid React Table'} description={''} showDocsNav={false} showSearchBar={true}>
    <div class={styles.container}>
        <div class={isOdd ? styles.sectionOdd : styles.sectionContent}>
            <HeroSection client:only="react" versionsData={versionsData} />
        </div>
        <Divider odd={getIsOdd()} />
        <div class={isOdd ? styles.sectionOdd : styles.sectionOdd}>
            <div class={styles.headingContainer}>
                <h2 class={styles.tag}>Why Use AG Grid?</h2>
                <h3 class={styles.heading}>Amazingly Fast, Fully Customisable and Unbeatable Features</h3>
                <h4 class={styles.subHeading}>
                    Get started in minutes and access 1000s of features without compromising on performance. Customise
                    your React Table with your own styles and components or upgrade to enterprise to use our advanced
                    features.
                </h4>
            </div>
            <FeaturesSection />
        </div>
        <Divider odd={getIsOdd()} />
        <div class={isOdd ? styles.sectionOdd : styles.sectionContent}>
            <div class={styles.headingContainer}>
                <h2 class={styles.tag}>Where is AG Grid Used?</h2>
                <h3 class={styles.heading}>Used in Every Industry, for All Types of Data</h3>
                <h4 class={styles.subHeading}>
                    Trusted by 90% of Fortune 500 industries from Finance and AI, to DevTools and Aeronautics. Most of
                    these uses are private, but we've hand-picked a few open-source examples:
                </h4>
            </div>
            <Showcase />
        </div>
        <Divider odd={getIsOdd()} />
        <div class={isOdd ? styles.sectionOdd : styles.sectionContent}>
            <div class={styles.headingContainer}>
                <h2 class={styles.tag}>Who Uses AG Grid?</h2>
                <h3 class={styles.heading}>
                    Loved By Developers<br />
                </h3>Trusted By The Worlds Largest Enterprises
            </div>
            <h4 class={styles.subHeading}>
                Over <b>90% of the Fortune 500</b> build React Tables using AG Grid, with{' '}
                <span class={styles.highlight}>
                    <a href="https://www.npmjs.com/package/ag-grid-community" target="_blank"> 1,000,000+</a>
                </span>{' '}
                npm downloads per week and over{' '}
                <span class={styles.highlight}>
                    <a href="https://github.com/ag-grid/ag-grid/tree/latest" target="_blank"> 12,000</a>
                </span>{' '}
                Stars on Github.
            </h4>
        </div>
        <Customers />
    </div>
    <Divider odd={getIsOdd()} />
    <div class={isOdd ? styles.sectionOdd : styles.sectionContent}>
        <div class={styles.headingContainer}>
            <h2 class={styles.tag}>How Do I Get Started?</h2>
            <h3 class={styles.heading}>Get Started with Common Templates</h3>
            <h4 class={styles.subHeading}>Sample apps to help you build your React Table with AG Grid in minutes.</h4>
        </div>
        <Examples />
    </div>
    <Divider odd={getIsOdd()} />
    {/* FAQs - Community vs. Enterprise,  etc... */}
    <div class={isOdd ? styles.sectionOdd : styles.sectionContent}>
        <div class={styles.headingContainer}>
            <h2 class={styles.tag}>How Does AG Grid Compare to Competition?</h2>
            <h3 class={styles.heading}>Frequently Asked Questions</h3>
            <h4 class={styles.subHeading}>Answers to some common questions when building React Tables with AG Grid</h4>
        </div>
        <Faqs />
    </div>
</Layout>
