---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import styles from '../pages-styles/react-table.module.scss';
import Customers from '../components/framework-landing-pages/react/sections/customers/Customers';
import Faqs from '../components/framework-landing-pages/react/sections/faqs/Faqs';
import FeaturesSection from '../components/framework-landing-pages/react/sections/features/FeaturesSection';
import Showcase from '../components/framework-landing-pages/react/sections/showcase/Showcase';

import InstallText from '@components/framework-landing-pages/InstallText';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import { Finance } from 'src/components/demos/examples/finance';
const { data: versionsData } = await getEntry('versions', 'ag-grid-versions');
const { data: examples } = await getEntry('react-landing-page', 'examples');import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';

---

<Layout title={'AG Grid: A Fast, Powerful, and Flexible React Data Table'} description={'Explore AG Grid\'s fast, powerful, and customisable React Table library. Add high-performance React Data Tables to your React applications in minutes, for free.'} showDocsNav={false} showSearchBar={true}>
    <div class={styles.container}>
        <div class={styles.sectionContent}>
            <div className={styles.smallRectangleLeft}></div> {/* Blue rectangle div */}
            <div className={styles.smallRectangleRight}></div> {/* Blue rectangle div */}
            <div className={styles.blueRectangle}></div> {/* Blue rectangle div */}
            <div class={styles.sectionInner}>
                <div class={styles.heroSectioncontainer}>
                    <div class={styles.heroSectionheadingContainer}>
                        <div onClick={() => handleClick('/whats-new')} class={styles.heroSectionversionTagContainer}>
                            <span class={styles.heroSectionversion}>AG Grid v{versionsData[0].version}</span>
                            <span class={styles.heroSectionfeatureHighlight}>
                                {versionsData[0].landingPageHighlight}
                                <Icon svgClasses={styles.heroSectionfeatureArrow} name="arrowRight" />
                            </span>
                        </div>
                        <h1 class={styles.heroSectionheading}>Fast, Powerful and Flexible React Table</h1>
                        <p class={styles.heroSectionsubHeading}>
                            Add <b>high-performance</b>, <b>feature rich</b>, and <b>fully customisable</b> React Data Tables
                            to your application in <b>minutes</b>, all for <b>free</b>.
                        </p>
                    </div>
                    <div class={styles.heroSectionbuttonContainer}>
                        <button
                            class={styles.heroSectioncta1}
                            onClick={() => handleClick('/react-data-grid/getting-started/')}
                        >
                            Get Started
                        </button>
                        <div class={styles.heroSectioncta2}>
                            <InstallText client:load />
                        </div>
                    </div>
                    <div class={styles.heroSectiondemoContainer}>
                        <Finance client:only="react" gridHeight={600} />
                    </div>
                    <button class={styles.heroSectionviewAllDemosLink}>
                        View All Demos
                        <Icon svgClasses={styles.heroSectiondemosArrow} name="arrowRight" />
                    </button>
                </div>
            </div>
        </div>
        <div class={styles.divider}>
            <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
            >
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class={styles.fill}></path>
            </svg>
        </div>
        <div class={styles.sectionContent}>
            <div class={styles.sectionInner}>
                <div class={styles.headingContainer}>
                    <span class={styles.tag}>Why Use AG Grid?</span>
                    <h2 class={styles.heading}>Amazingly Fast, Fully Customisable and Unbeatable Features</h2>
                    <h3 class={styles.subHeading}>
                        Get started in minutes and access 1000s of features without compromising on performance.
                        Customise your React Table with your own styles and components or upgrade to enterprise to use
                        our advanced features.
                    </h3>
                </div>
                <FeaturesSection client:load />
            </div>
        </div>
        <div class={styles.divider}>
            <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
            >
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class={styles.fill}></path>
            </svg>
        </div>
        <div class={styles.sectionContent}>
            <div class={styles.sectionInner}>
                <div class={styles.headingContainer}>
                    <span class={styles.tag}>Where is AG Grid Used?</span>
                    <h2 class={styles.heading}>Used in Every Industry, for All Types of Data</h2>
                    <h3 class={styles.subHeading}>
                        Trusted by 90% of Fortune 500 industries from Finance and AI, to DevTools and Aeronautics. Most
                        of these uses are private, but we've hand-picked a few open-source examples:
                    </h3>
                </div>
                <Showcase client:load />
            </div>
        </div>
        <div class={styles.divider}>
            <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
            >
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class={styles.fill}></path>
            </svg>
        </div>
        <div class={styles.sectionContent}>
            <div class={styles.sectionInner}>
                <div class={styles.headingContainer}>
                    <span class={styles.tag}>Who Uses AG Grid?</span>
                    <h2 class={styles.heading}>Loved By Developers<br />Trusted By The Worlds Largest Enterprises</h2>
                    <h3 class={styles.subHeading}>
                        Over <b>90% of the Fortune 500</b> build React Tables using AG Grid, with{' '}
                        <a href="https://www.npmjs.com/package/ag-grid-community" target="_blank"> 1,000,000+</a>
                        npm downloads per week and over
                        <a href="https://github.com/ag-grid/ag-grid/tree/latest" target="_blank"> 12,000</a>
                        Stars on Github.
                    </h3>
                </div>
                <Customers client:load />
            </div>
        </div>
        <div class={styles.divider}>
            <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
            >
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class={styles.fill}></path>
            </svg>
        </div>
        <div class={styles.sectionContent}>
            <div class={styles.sectionInner}>
                <div class={styles.headingContainer}>
                    <span class={styles.tag}>How Do I Get Started?</span>
                    <h2 class={styles.heading}>Get Started with Common Templates</h2>
                    <h3 class={styles.subHeading}>
                        Sample apps to help you build your React Table with AG Grid in minutes.
                    </h3>
                </div>
                <div class={styles.examplesSectioncontainer}>
                    <div class={styles.examplesSectionexamplesContainer}>
                        <div class={styles.examplesSectioncardsContainer}>
                            {examples.map((card, index) => (
                                <div key={index} class={styles.examplesSectioncard}>
                                    <img
                                        class={styles.examplesSectioncardImage}
                                        src={urlWithBaseUrl(`landing-pages/examples/${card.img}`)}
                                        alt={card.img_alt}
                                    ></img>
                                    <div class={styles.examplesSectioncardDetails}>
                                        <h3>{card.title}</h3>
                                        <p>{card.content}</p>
                                    </div>
                                    <div class={styles.examplesSectioncardCta}>
                                        <a href={card.demo} target="_blank">
                                            Live Demo
                                        </a>
                                        <a href={card.docs} target="_blank">
                                            Docs
                                        </a>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class={styles.divider}>
            <svg
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1200 120"
                preserveAspectRatio="none"
            >
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class={styles.fill}></path>
            </svg>
        </div>
        <div class={styles.sectionContent}>
            <div class={styles.headingContainer}>
                <span class={styles.tag}>How Does AG Grid Compare to Competition?</span>
                <h2 class={styles.heading}>Frequently Asked Questions</h2>
                <h3 class={styles.subHeading}>
                    Answers to some common questions when building React Tables with AG Grid
                </h3>
            </div>
            <Faqs client:load />
        </div>
    </div>
</Layout>
