---
interface Props {
    isDev: boolean;
    title: string;

    modifiedTimeMs: number;
    isEnterprise: boolean;
    /**
     * All script file names
     */
    scriptFiles?: string[];
    styleFiles?: string[];
    indexFragment: string;
    appLocation: string;
    extraStyles?: string;
    children?: any;
    extras?: string[];
}

const {
    isDev,
    title,
    modifiedTimeMs,
    isEnterprise,
    isLocale,
    styleFiles,
    scriptFiles,
    indexFragment,
    appLocation,
    extraStyles,
    extras,
} = Astro.props as Props;

import { MetaData } from './lib/MetaData';
import { Styles } from './lib/Styles';
import { Extras } from './lib/Extras';
import { Scripts } from './lib/Scripts';
import { SITE_BASE_URL } from '@constants';
import { pathJoin } from '@utils/pathJoin';
import {
    getCacheBustingUrl,
    getGridEnterpriseScriptPath,
    getGridScriptPath,
    getGridLocaleScriptPath,
} from '@utils/gridLibraryPaths';

import examplebaseStyle from '@ag-website-shared/components/example-runner/example-base.css?raw';
import exampleControlsStyle from '@ag-website-shared/components/example-runner/example-controls.css?raw';

const siteUrl = Astro.site ? pathJoin(Astro.site, SITE_BASE_URL) : '/';

const gridScriptPath = getCacheBustingUrl(getGridScriptPath(siteUrl), modifiedTimeMs);
const gridScriptEnterprisePath = getCacheBustingUrl(getGridEnterpriseScriptPath(siteUrl), modifiedTimeMs);
const gridScriptLocalePath = getCacheBustingUrl(getGridLocaleScriptPath(siteUrl), modifiedTimeMs);
---

<html lang="en">
    <head>
        <MetaData isDev={isDev} title={`JavaScript Example - ${title}`} modifiedTimeMs={modifiedTimeMs} />
        <Styles
            baseUrl={appLocation}
            files={isDev && styleFiles
                ? styleFiles
                      .filter((file: string) => !file.includes('style.css') && !file.includes('styles.css'))
                      .map((file: string) => getCacheBustingUrl(file, modifiedTimeMs))
                : []}
        />

        <style set:html={examplebaseStyle}></style>
        <style set:html={exampleControlsStyle}></style>

        <Extras extras={extras ?? []} />
    </head>
    <body>
        <Fragment set:html={indexFragment} />

        <script
            is:inline
            define:vars={{
                appLocation,
            }}
        >
            window.__basePath = appLocation;
        </script>
        <script src={isEnterprise ? gridScriptEnterprisePath : gridScriptPath}></script>
        {isLocale && <script src={gridScriptLocalePath} />}
        <Scripts baseUrl={appLocation} files={scriptFiles} />
        <Styles
            baseUrl={appLocation}
            files={styleFiles
                ? styleFiles.filter((file: string) => file.includes('style.css') || file.includes('styles.css'))
                : []}
        />
        <slot />
    </body>
</html>
