---
import { ExampleStyle } from './lib/ExampleStyle';
import { MetaData } from './lib/MetaData';
import { Scripts } from './lib/Scripts';
import { Styles } from './lib/Styles';
import { Extras } from './lib/Extras';
import { SystemJs } from './lib/SystemJs';
import { pathJoin } from '@utils/pathJoin';

interface Props {
    isDev: boolean;
    title: string;
    isEnterprise: boolean;

    modifiedTimeMs: number;
    entryFileName: string;
    /**
     * Extra script file names (not including entry file)
     */
    scriptFiles?: string[];
    styleFiles?: string[];
    appLocation: string;
    boilerplatePath: string;
    extraStyles?: string;
    children?: any;
    extras?: string[];
}

const {
    isDev,
    title,
    isEnterprise,
    modifiedTimeMs,
    boilerplatePath,
    appLocation,
    entryFileName,
    scriptFiles = [],
    styleFiles = [],
    extraStyles,
    extras,
} = Astro.props as Props;

const startFile = pathJoin(appLocation, entryFileName);
---

<html lang="en">
    <head>
        <MetaData isDev={isDev} title={`Vue 3 Example - ${title}`} modifiedTimeMs={modifiedTimeMs} />
        <ExampleStyle rootSelector="#app" extraStyles={extraStyles} />
        <Styles baseUrl={appLocation} files={styleFiles} />
        <Extras extras={extras ?? []} />
    </head>
    <body>
        <div id="app"><my-component></my-component></div>

        <Scripts baseUrl={appLocation} files={scriptFiles} />
        <SystemJs
            isDev={isDev}
            boilerplatePath={boilerplatePath}
            appLocation={appLocation}
            startFile={startFile}
            internalFramework={'vue3'}
            isEnterprise={isEnterprise}
        />
        <slot />
    </body>
</html>
