---
import { getDevFiles } from '@utils/pages';
import { getDevFileUrl } from '@utils/devFileUrl';
import Layout from '@layouts/Layout.astro';

const devFiles = getDevFiles();
---

<Layout title={`Debug: Dev Files`}>
    <main class="layout-page-max-width container">
        <h1>Dev files ({devFiles.length})</h1>
        <p><code>props.file</code> gets the file contents, but is not shown here.</p>
        <table>
            <thead>
                <th>No.</th>
                <th>Url</th>
                <th><code>params.filePath</code></th>
                <th><code>props.fullFilePath</code></th>
            </thead>
            <tbody>
                {
                    devFiles.map((devFile, index) => {
                        const { filePath } = devFile.params;
                        const { fullFilePath } = devFile.props;
                        const url = getDevFileUrl({
                            filePath,
                        });
                        return (
                            <tr>
                                <td>{index + 1}</td>
                                <td>
                                    <a href={url}>{url}</a>
                                </td>
                                <td>{filePath}</td>
                                <td>{fullFilePath}</td>
                            </tr>
                        );
                    })
                }
            </tbody>
        </table>
    </main>
</Layout>

<style lang="scss">
    @use '../../design-system' as *;

    .container {
        margin-top: $spacing-size-12;
        margin-bottom: calc($spacing-size-12 * 4);
    }
</style>
