---
import seedProjects from '@ag-website-shared/content/seed-projects/grid-seed-projects.json';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import styles from '@ag-website-shared/components/license-setup/components/LicenseSetup.module.scss';
---

<table class={styles.reposTable} role="grid">
    <thead>
        <tr>
            <th scope="col" data-column="Github Repo">Github Repo</th>
            <th scope="col" data-column="Framework">Framework</th>
            <th scope="col" data-column="Development Environment">Dev Environment</th>
            <th scope="col" data-column="License Type">License Type</th>
        </tr>
    </thead>
    <tbody>
        {
            seedProjects.map(({ name, url, framework, devEnvironment, licenseType }) => {
                return (
                    <tr>
                        <td scope="row" data-column="Github Repo">
                            <a class:list={[styles.repoButton, 'button-secondary']} href={url}>
                                <Icon name="github" />
                                {name}
                            </a>
                        </td>
                        <td data-column="Framework">{framework}</td>
                        <td data-column="Development Environment">{devEnvironment}</td>
                        <td data-column="License Type">
                            <a href="https://www.ag-grid.com/license-pricing/">
                                {licenseType === 'enterprise-bundle' ? 'Enterprise Bundle' : 'AG Grid Enterprise'}
                            </a>
                        </td>
                    </tr>
                );
            })
        }
    </tbody>
</table>
