---
import { getCollection, getEntry } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { Header } from '@features/docs/components/Header';
import { getFrameworkDisplayText } from '@utils/framework';
import type { Framework, MenuSection } from '@ag-grid-types';
import { getDocsPages } from '@features/docs/utils/pageData';
import { SideNavigation } from '@components/pages-navigation/components/SideNavigation';
import { getFirstParagraphText } from '@utils/markdoc/getFirstParagraphText';
import { DOCS_TAB_ITEM_ID_PREFIX } from '@ag-website-shared/constants';
import { getFilteredMenuSections } from '@components/pages-navigation/utils/getFilteredMenuSections';
import { getHeadings } from '@utils/markdoc/getHeadings';
import { isApiMenuPath } from '@utils/apiMenuPath';
import { DocsNav } from '@ag-website-shared/components/docs-navigation/DocsNav';

import styles from '@ag-website-shared/components/page-styles/docs.module.scss';

export async function getStaticPaths() {
    const pages = await getCollection('docs');
    return getDocsPages(pages);
}

const { page } = Astro.props;
const currentFramework = Astro.params.framework as Framework;
const pageName = Astro.params.pageName as Framework;
const path = Astro.url.pathname;
const { title, enterprise, hideSideMenu, hidePageMenu, headings: pageHeadings } = page.data;

const { data: menu } = await getEntry('menu', 'data');
const frameworkMenuSections: MenuSection[] = getFilteredMenuSections({
    menuSections: menu.main.sections,
    framework: currentFramework,
});
const apiMenuSections: MenuSection[] = getFilteredMenuSections({
    menuSections: menu.api.sections,
    framework: currentFramework,
});

const { data: versionsData } = await getEntry('versions', 'ag-grid-versions');
const version = versionsData[0]?.version;
const frameworkDisplayText = getFrameworkDisplayText(currentFramework);
const seoTagline = `Download AG Grid v${version} today: The best ${frameworkDisplayText} Table & ${frameworkDisplayText} Data Grid in the world.`;
const description = page.data.description
    ? page.data.description.replaceAll('$framework', frameworkDisplayText) // Use front-matter description
    : getFirstParagraphText(page.body, currentFramework); // Default to 1st paragraph text
const descriptionWithSeoTagline = `${description ? `${description} ` : ''}${seoTagline}`;

const isApiPage = isApiMenuPath({
    pageName,
    menuData: menu,
});

const { data: docsNavData } = await getEntry('docs-nav', 'docsNav');
const { data: apiNavData } = await getEntry('api-nav', 'apiNav');

const menuData = isApiPage ? apiNavData : docsNavData;

const { Content } = await page.render();
const headings =
    pageHeadings ||
    (await getHeadings({
        title,
        pageName,
        markdocContent: page.body,
        framework: currentFramework,
        getTabItemSlug: (id) => `${DOCS_TAB_ITEM_ID_PREFIX}${id}`,
    }));
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet" />

<Layout
    title={`${getFrameworkDisplayText(currentFramework)} Grid: ${title} | AG Grid`}
    description={descriptionWithSeoTagline}
    showSearchBar={true}
    showDocsNav={true}
>
    <div class:list={[hidePageMenu && styles.noLeftMenu, styles.contentViewport, 'layout-grid']}>
        {
            !hidePageMenu && (
                <DocsNav
                    client:load
                    menuData={menuData}
                    framework={currentFramework}
                    pageName={pageName}
                    showWhatsNew={!isApiPage}
                />
            )
        }

        <div
            id="doc-content"
            class:list={[
                styles.docPage,
                {
                    noSideMenu: styles.hideSideMenu,
                },
            ]}
        >
            <Header
                client:load
                title={title}
                framework={currentFramework}
                isEnterprise={enterprise}
                path={path}
                menuItems={menuData.sections}
            />

            {/* Wrapping div is a hack to target "intro" section of docs page */}
            <div class={styles.pageSections}>
                <Content framework={currentFramework} page={page} />
            </div>
        </div>

        {!hideSideMenu && <SideNavigation client:load headings={headings} delayedScrollSpy={Boolean(pageHeadings)} />}
    </div>
</Layout>

<script>
    /**
     * Retain scroll position between page changes
     *
     * Use session storage to store the scroll position and get it on page load
     */
    const SCROLL_POSITION_LOCALSTORAGE_KEY = 'docs-scroll-position';
    // NOTE: Need page nav to be on page on page load (ie, not generated on client side)
    const NAV_SCROLL_CONTAINER_SELECTOR = '#docs-nav-collapser aside';

    window.addEventListener('load', () => {
        const nav = document.querySelector(NAV_SCROLL_CONTAINER_SELECTOR);
        const top = sessionStorage.getItem(SCROLL_POSITION_LOCALSTORAGE_KEY);
        if (nav && top !== null) {
            nav.scrollTop = parseInt(top, 10);
        }

        window.addEventListener('beforeunload', () => {
            if (!nav) {
                return;
            }

            sessionStorage.setItem(SCROLL_POSITION_LOCALSTORAGE_KEY, nav.scrollTop);
        });
    });
</script>
