---
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import styles from './Demos.module.scss';

const { activeTab } = Astro.props;
---

<div class={styles.tabs}>
    <div class:list={[styles.tabWrapper, activeTab === 'finance' && styles.tabActive]}>
        <a href={urlWithBaseUrl(`/example`)}>
            <img
                class={styles.showcaseItemTab}
                src={urlWithBaseUrl(`/example/finance-grid.png`)}
                alt="Grid illustration"
            />
            <img
                class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                src={urlWithBaseUrl(`/example/finance-dark.png`)}
                alt="Grid illustration"
            />
        </a>
    </div>

    <div class:list={[styles.tabWrapper, activeTab === 'crm' && styles.tabActive]}>
        <a href={urlWithBaseUrl(`/example-crm`)}>
            <img class={styles.showcaseItemTab} src={urlWithBaseUrl(`/example/crm-grid.png`)} alt="Grid illustration" />
            <img
                class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                src={urlWithBaseUrl(`/example/crm-dark.png`)}
                alt="Grid illustration"
            />
        </a>
    </div>

    <div class:list={[styles.tabWrapper, activeTab === 'inventory' && styles.tabActive]}>
        <a href={urlWithBaseUrl(`/example-inventory`)}>
            <img
                class={`${styles.showcaseItemTab}`}
                src={urlWithBaseUrl(`/example/grid-inventory.png`)}
                alt="Grid illustration"
            />
            <img
                class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                src={urlWithBaseUrl(`/example/inventory-dark.png`)}
                alt="Grid illustration"
            />
        </a>
    </div>

    <div class:list={[styles.tabWrapper, activeTab === 'complete' && styles.tabActive]}>
        <a href={urlWithBaseUrl(`/example-complete`)}>
            <img
                class={styles.showcaseItemTab}
                src={urlWithBaseUrl(`/example/grid-full.png`)}
                alt="Grid illustration"
            />
            <img
                class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                src={urlWithBaseUrl(`/example/complete-dark.png`)}
                alt="Grid illustration"
            />
        </a>
    </div>
</div>
