---
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import styles from './Demos.module.scss';

const { activeTab } = Astro.props;
---

<div class={styles.tabs}>
    <div class={styles.tabItem}>
        <div class:list={[styles.tabWrapper, activeTab === 'complete' && styles.tabActive]}>
            <a href={urlWithBaseUrl(`/example`)}>
                <img
                    class={styles.showcaseItemTab}
                    src={urlWithBaseUrl(`/example/performance.png`)}
                    alt="Performance Grid illustration"
                />
                <img
                    class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                    src={urlWithBaseUrl(`/example/performance-dark.png`)}
                    alt="Performance Grid illustration"
                />
            </a>
        </div>
        <span class:list={[activeTab === 'complete' && styles.spanActive]}>Performance</span>
    </div>

    <div class={styles.tabItem}>
        <div class:list={[styles.tabWrapper, activeTab === 'finance' && styles.tabActive]}>
            <a href={urlWithBaseUrl(`/example-finance`)}>
                <img
                    class={styles.showcaseItemTab}
                    src={urlWithBaseUrl(`/example/finance.png`)}
                    alt="Finance Grid illustration"
                />
                <img
                    class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                    src={urlWithBaseUrl(`/example/finance-dark.png`)}
                    alt="Finance Grid illustration"
                />
            </a>
        </div>
        <span class:list={[activeTab === 'finance' && styles.spanActive]}>Finance</span>
    </div>
    <div class={styles.tabItem}>
        <div class:list={[styles.tabWrapper, activeTab === 'crm' && styles.tabActive]}>
            <a href={urlWithBaseUrl(`/example-hr`)}>
                <img class={styles.showcaseItemTab} src={urlWithBaseUrl(`/example/hr.png`)} alt="Grid illustration" />
                <img
                    class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                    src={urlWithBaseUrl(`/example/hr-dark.png`)}
                    alt="HR Grid illustration"
                />
            </a>
        </div>
        <span class:list={[activeTab === 'crm' && styles.spanActive]}>HR</span>
    </div>

    <div class={styles.tabItem}>
        <div class:list={[styles.tabWrapper, activeTab === 'inventory' && styles.tabActive]}>
            <a href={urlWithBaseUrl(`/example-inventory`)}>
                <img
                    class={`${styles.showcaseItemTab}`}
                    src={urlWithBaseUrl(`/example/inventory.png`)}
                    alt="Inventory Grid illustration"
                />
                <img
                    class={`${styles.showcaseItemTab} ${styles.darkTab}`}
                    src={urlWithBaseUrl(`/example/inventory-dark.png`)}
                    alt="Inventory Grid illustration"
                />
            </a>
        </div>
        <span class:list={[activeTab === 'inventory' && styles.spanActive]}>Inventory</span>
    </div>
</div>
